* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

header {
  height: 20px;
  width: 100%;
  background-color: #00f5d4;
  justify-content: space-between;
}

header .primary-links,
.secondary-links {
  height: 100%;
  width: 300px;
  background-color: #00bbf9;
}

section.section-hero {
  width: 100%;
  height: 400px;
  background-color: #9b5de5;
}

section .hero-container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  background-color: #fee440;
  align-items: flex-end;
}

section .hero-content,
.hero-image {
  width: 50%;
  height: 80%;
  background-color: #f15bb5;
}

section .hero-image {
  border-left: 3px solid black;
}
section .hero-image {
  border-left: 3px solid black;
}
