* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

.larger-box {
  width: 900px;
  margin: 0 auto;
}

.smaller-box {
  width: 800px;
  margin: 0 auto;
}

div.section-divider {
  height: 200px;
}

/*-------Header Section-------*/

header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
}

header .main-logo {
  max-width: 100px;
}

header .primary-links,
.secondary-links {
  height: 100%;
  width: 600px;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  color: #6c6c6c;
}

header a {
  margin: 0px 20px;
  text-decoration: none;
}
header a:visited {
  color: inherit;
}

button {
  padding: 10px 10px;
  font-size: 1rem;
}

button.blue-button {
  background-color: #0161ff;
  color: #fff;
  border: 0;
}

/*-------Hero Section-------*/

section.section-hero {
  width: 100%;
  height: 500px;
  background-color: #b4d0e7;
}

section .hero-container {
  height: 100%;
}

section .hero-container h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-top: 1.5rem;
  padding-right: 6rem;
  line-height: 4rem;
}

section .hero-content {
  padding-top: 1rem;
}

section .hero-text {
  max-width: 40%;
  padding-right: 1rem;
  font-size: 1.2rem;
}
section .hero-text p:last-of-type {
  font-size: 1rem;
  margin-top: 1.5rem;
}

section .hero-text button {
  margin-top: 1rem;
}

section .hero-text i {
  font-size: 1.5rem;
}

section .hero-image img {
  width: 100%;
}

/*-------Cards Section-------*/
section.cards-section {
  width: 100%;
  margin-top: 2rem;
  height: 800px;
}

section .cards-container {
  height: 700px;
  margin-top: 1rem;
  padding: 1.5rem 0;
  justify-content: space-between;
}

section .cards-container .card {
  width: calc(100% / 3 - 2rem);
  height: 650px;
  border: 1px solid black;
}

section .card-title {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0.3rem;
  font-size: 1rem;
}

article .card-content {
  padding: 1rem;
}
article .card-content button {
  width: 100%;
}

article .card-summary-plan {
  line-height: 1.7rem;
}

article .card-plan-list,
.card-summary-plan {
  margin: 2.5rem 0;
}

/*-------Call To Action Section-------*/
section .cta-container {
  height: 500px;
  background-color: #43aa8b;
}

/*-------Features Section-------*/
section .feature-cards-container {
  height: 600px;
  padding: 1rem 0;
  background-color: #4d908e;
  justify-content: space-around;
}

section .features-container .feature-card {
  width: calc(100% / 3 - 2rem);
  height: 300px;
  background-color: #90be6d;
}

/*-------Partners Section-------*/
section.partners-section {
  width: 100%;
  height: 400px;
  flex-wrap: wrap;
  background-color: #277da1;
}

section .partner-group-left,
.partner-box-center,
.partner-group-right {
  flex-grow: 1;
  border: 3px solid red;
}

section .partner-group-left,
.partner-group-right {
  flex-wrap: wrap;
}

section .partner-box-center {
  flex-grow: 1;
  background-color: #efefd0;
}

.box-partner {
  width: 50%;
  height: 50%;
  border: 1px solid white;
}

.partnerA {
  background-color: #ff6b35;
}

.partnerB {
  background-color: #f7c59f;
}
.partnerC {
  background-color: #1a659e;
}
.partnerD {
  background-color: #004e89;
}

div.div-blue {
  background-color: #b4d0e7;
}

/*-------Faq Section-------*/
section .faq-container {
  height: 400px;
  background-color: #4f3ebf;
}

/*-------Footer Section-------*/
footer {
  height: 400px;
  background-color: black;
}

footer ul {
  width: 150px;
  background-color: white;
}

span.language {
  background-color: white;
}

.small-divider {
  margin: 1rem 0;
  width: 2rem;
  border-top: 1px solid;
}

.div-white {
  border-color: white;
}

.div-black {
  border-color: black;
}
